# Ignore all .log files
*.log

# Ignore a specific file
secrets.json

# Ignore all files in a folder
/node_modules/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment files
.env
